{% extends "./base_site.html" %}

{% block style %}
    <!-- <link href="/static/css/main-style.css" rel="stylesheet" /> -->
{% endblock style %}

{% block content %}
        <div class="container">
            <h1 class="logo cursive">
                ชมรมคนรักในหลวง
            </h1>
            <div class="content">
                <h4 class="motto">เพราะพ่อสอนให้เรารู้จักรัก รู้จักให้ รู้จัก
                    <u>"พอเพียง"</u>
                </h4>
                <img src="/static/images/nine.png" class="img-responsive center-block" width="auto" alt="Responsive image" />
                <div class="subscribe">
                    <h5 class="info-text">
                        มาร่วมเป็นส่วนหนึ่งกับพวกเรา ชมรมคนรักในหลวง
                    </h5>
                    <div class="row">
                        {% if user.is_authenticated %}
                            <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 text-center ">
                                <a href={% url 'AuthenApp:registration' %}>
                                    <button type="button" class="btn btn-warning btn-fill">เพิ่มสมาชิก</button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}