* {
    box-sizing: border-box;
}

.warning-container {
    margin-top: 10em;
}

.wrap {
    width: 60%;
    margin: 0px auto;
}

.head-text {
    margin-bottom: 50px;
}

.email-confirm {
    color: #fff;
}

p.email-confirm {
    font-size: 30px;
}

.btn-confirm {
    margin: 20px 0;
}

.email-img {
    width: 100px;
    height: 100px;
}