{% extends "StaticPageApp/base_site.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href={% static "MemberApp/css/member-style.css" %}>
    <link rel="stylesheet" href={% static "MemberApp/css/tree_diagram.css" %}>
    <link rel="stylesheet" href={% static "MemberApp/TreantJS/Treant.css" %}>
    <link rel="stylesheet" href={% static "MemberApp/css/treant-style.css" %}>
{% endblock style %}

{% block content %}
    <div class="container">
        <div class="content member-container">
            <div class="row profile">
                <div class="col-lg-6 head-profile text-center">
                    <img src="https://png.icons8.com/office/150/000000/administrator-male.png" class="user" ><br>                            
                    <label class="h3" id="#id_prefix">นาย</label>
                    <label class="h3" id="#id_first_name">ชื่อ</label>
                    <label class="h3" id="#id_last_name">นามสกุล</label>                                                            
                    <h5 id="citizen_id">เลขบัตรประชาชน: 1234567890123</h5>
                </div>
                <div class="col-lg-6 content-profile">
                    <div class="member-content">
                        <p for="" id="id_date_birth">วันเกิด: dd/mm/yyyy</p>                                        
                        <p for="" id="id_gender">เพศ: ชาย</p>
                        <p for="" id="id_address">ที่อยู่: 123 ม.4 ต.ในเมือง อ.เมือง จ.นครราชสีมา 30000</p>
                        <p for="" id="id_phone_no">เบอร์โทรศัพท์: 0812345678</p>
                        <p for="" id="id_email">อีเมล: a@gmail.com</p>
                    </div>
                    
                    <div class="row status">
                        <p for="reference_person" id="id_reference_person" class="text-center">ผู้แนะนำ: ชื่อ-สกุล</p>
                        <div class="col-lg-6">
                            <p for="paid" id="id_paid">สถานะการชำระเงิน:</p>
                            <p for="paid_date" id="id_paid_date">วันที่ชำระเงิน: dd/mm/yyyy</p>
                        </div>
                        <div class="col-lg-6">
                            <p for="registered_datetime" id="id_registered_datetime">วันที่สมัคร: dd/mm/yyyy</p>                
                            <p for="expiry_date" id="id_expiry_date">วันหมดอายุ: dd/mm/yyyy</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                {% if user.is_authenticated %}
                <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 text-center ">
                    <a href={% url 'MemberApp:registration' %}>
                        <button type="button" class="btn btn-success btn-fill btn-block">เพิ่มสมาชิก</button>
                    </a>
                </div>
                {% endif %}
            </div>

            <div class="row relationship">
                <div class="col-lg-12">
                    <div class="chart" id="collapsable-example"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src={% static "MemberApp/TreantJS/vendor/raphael.js" %}></script>
    <script src={% static "MemberApp/TreantJS/Treant.js"%}></script>
    <script src={% static "MemberApp/js/treantTree.js"%}></script>
    <script>
        new Treant( chart_config );
    </script>
{% endblock scripts %}