{% extends "StaticPageApp/base_site.html" %}

{% block style %}
    <link href="/static/css/report-style.css" rel="stylesheet" />    
{% endblock style %}


{% block content %}
    <div class="container">
        <div class="content report">
            <div id="chartLine" class="chart-container"></div>
            <div class="row">
                <div class="col-lg-6">
                    <div id="chartColumn" class="chart-container"></div>
                </div>
                <div class="col-lg-6">
                    <div id="chartPie" class="chart-container"></div>                                
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script src="/static/js/line-chart.js"></script>
    <script src="/static/js/column-chart.js"></script>
    <script src="/static/js/pie-chart.js"></script>    
{% endblock scripts %}