{% extends "./base_site.html" %}
{% block title %}
    Demo Tree
{% endblock title %}

{% block style %}
    <link href="/static/css/tree_diagram.css" rel="stylesheet" />    
{% endblock style %}

{% block content %}
    <div class="container">
        <div class="content">
            <div class="tree-content"></div>            
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="http://d3js.org/d3.v3.min.js"></script>    
    <script>
        var data = [{
            "name": "User1",
            "parent": "null",
            "icon": "https://png.icons8.com/office/100/000000/user-female-skin-type-4.png",
            "children": [
                {
                    "name": "User2",
                    "parent": "Chairman",
                    "icon": "https://png.icons8.com/color/100/000000/user-female-skin-type-4.png",                    
                    "children": [
                        {
                            "name": "User4",
                            "parent": "Vice Chairman",
                            "icon": "https://png.icons8.com/color/100/000000/user-male.png",
                            "children":[
                                {
                                    "name": "User6",
                                    "parent": "Vice Chairman",
                                    "icon": "https://png.icons8.com/color/80/000000/user-male-skin-type-1-2.png",
                                },{
                                    "name": "User7",
                                    "parent": "Vice Chairman",
                                    "icon": "https://png.icons8.com/color/80/000000/user-male-skin-type-1-2.png",
                                },
                            ]                            
                        }, {
                            "name": "User5",
                            "parent": "Vice Chairman",
                            "icon": "https://png.icons8.com/color/100/000000/user-male-skin-type-6.png",                            
                        },
                    ]
                }, {
                    "name": "User3",
                    "parent": "Chairman",
                    "icon": "https://png.icons8.com/office/80/000000/user-male-skin-type-5.png",                    
                    "children": [
                        {
                            "name": "User6",
                            "parent": "Vice Chairman",
                            "icon": "https://png.icons8.com/color/80/000000/user-male-skin-type-1-2.png",                            
                        }, {
                            "name": "User7",
                            "parent": "Vice Chairman",
                            "icon": "https://png.icons8.com/color/80/000000/name.png",
                            "children":[
                                {
                                    "name": "User8",
                                    "parent": "Vice Chairman",
                                    "icon": "https://png.icons8.com/color/80/000000/user-male-skin-type-1-2.png",
                                },{
                                    "name": "User9",
                                    "parent": "Vice Chairman",
                                    "icon": "https://png.icons8.com/color/80/000000/user-male-skin-type-1-2.png",
                                },
                            ]                             
                        },
                    ]
                }
            ]
        }];
        
        // ************** Generate the tree diagram	 *****************
        var margin = {top: 64, right: 120, bottom: 20, left: 200},
            width = 1000,
            height = 726;
            
        var i = 0;
        
        var tree = d3.layout.tree()
            .size([height, width]);
        
        var diagonal = d3.svg.diagonal()
            .projection((d) => { 
                return [d.x, d.y]; 
            });
        
        var svg = d3.select(".tree-content").append("svg")
            .attr("width", width + margin.right + margin.left)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        
        
            
        root = data[0];
            
        update(root);
        
        function update(source) {
        
            // Compute the new tree layout.
            var nodes = tree.nodes(root).reverse(),
                links = tree.links(nodes);
        
            // Normalize for fixed-depth.
            nodes.forEach((d) => { 
                d.y = d.depth * 100; 
            });
        
            // Declare the nodes…
            var node = svg.selectAll("g.node")
                .data(nodes, (d) => { 
                    return d.id || (d.id = ++i); 
                });
        
            // Enter the nodes.
            var nodeEnter = node.enter().append("g")
                .attr("class", "node")
                .attr("transform", (d) => { 
                    return "translate(" + d.x + "," + d.y + ")";
                });
            
            nodeEnter.append("image")
                .attr("xlink:href", (d) => { 
                    return d.icon; 
                })
                .attr("x", "-20px")
                .attr("y", "-20px")
                .attr("width", "40px")
                .attr("height", "40px");
            //nodeEnter.append("circle")
            //    .attr("r", 20)
            //    .style("fill", "#fff");
        
            nodeEnter.append("text")
                .attr("y", (d) => {
                    return d.children; 
                    //return d.children || d._children ? -18 : 18; 
                })
                .attr("dy", "2em")
                .attr("text-anchor", "middle")
                .text((d) => { 
                    return d.name; 
                })
                .style("fill-opacity", 1);
        
            // Declare the links…
            var link = svg.selectAll("path.link")
                .data(links, (d) => { 
                    return d.target.id; 
                });
        
            // Enter the links.
            link.enter().insert("path", "g")
                .attr("class", "link")
                .attr("d", diagonal);
        
        }

    </script>
{% endblock scripts %}