{% extends "StaticPageApp/base_site.html" %}
{% load static %}

{% block style %}
    {% comment %} <link rel="stylesheet" href=""> {% endcomment %}
    <link rel="stylesheet" href={% static "AuthenApp/css/login-style.css" %}>
{% endblock style %}

{% block content %}
    <div class="container">
        <div class="content login-container">
            <div class="login-page">
                <img src={% static "StaticPageApp/images/nine.png" %} class="img-responsive center-block" width="auto" height="50px" alt="Responsive image" />
                
                <div id="login-form">
                    <form action={% url 'AuthenApp:signin' %} method=POST>
                        {% csrf_token %}
                        <h4 class="motto">เข้าสู่ระบบ ชมรมคนรักในหลวง</h4>
                        <input type="text" class="username" name="username" placeholder="Username">
                        <input type="password" class="password" name="password" placeholder="Password">
                        <div class="btn-login">
                            <button type='submit' class="btn btn-success btn-fill" role="button">LOGIN</button>      
                        </div>
                        <div class="forget">
                            <a class="forget-password" id="forget-pw">forget password</a>
                        </div>                 
                    </form>
                </div>
                
                <!-- forget password -->
                <div id="forget-form">
                    <form action="#">
                        <h4 class="motto">ลืมรหัสผ่าน</h4>
                        
                        <input type="email" class="email" placeholder="E-mail">
    
                        <div class="btn-forget">
                            <a class="btn btn-success btn-fill" href="#" role="button">SEND TO EMAIL</a>
                            <a class="btn btn-danger btn-fill" id="cancel-pw">Cancel</a>                        
                        </div>                
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src={% static "AuthenApp/js/login.js" %}></script>
{% endblock scripts %}